name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  deploy-github-pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Generate directory listing
        run: ./generate.py --prefix /${GITHUB_REPOSITORY#*/} site
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
  deploy-cloudflare-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install node dependencies
        run: npm install
      - name: Generate directory listing
        run: npm run build
      - name: Deploy to Cloudflare Pages
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: npm run cloudflare-deploy
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cloudflare-pages
          path: site
          if-no-files-found: error
